$color: #d8d8d8;

body {
    position: relative;
}

.button {
    background: none;
    border: none;
    color: #d8d8d8;
    display: flex;
    align-items: center;
    position: fixed;
    top: 3.29vw;
    left: 1.97vw;
    font-size: 0.92vw;
    cursor: pointer;
}

.container {
    color: $color;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    margin-top: 1.32vw;

    .grid {
        display: grid;

        grid-column-start: 2;
        grid-column-end: 3;

        .flex {
            display: flex;
            padding: 0.99vw;
            background-color: rgb(26 39 51);
            border-radius: 0.99vw;
            border-style: outset;
            border-color: #000000;

            img {
                width: 27.17vw;
                height: 35.52vw;
            }

            .data {
                height: 32.92vw;
                background-color: #23033d;
                display: flex;
                flex-direction: column;
                padding: 1.32vw;
                margin-left: 0.99vw;
                justify-content: center;
                width: 60%;

                .genres {
                    margin-bottom: 0.79vw;
                    font-size: 0.92vw;
                }

                h1 {
                    font-size: 1.97vw;
                    font-weight: 600;
                    margin-bottom: 1.05vw;
                }

                p {
                    font-size: 0.92vw;
                }
            }
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 2px solid #000000;
            margin: 2vw auto;
            padding: 0;
            width: 97%;
        }

        .acters {
            ul {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                padding-left: 0;
                background-color: #23033d;
                margin: 0;

                li {
                    flex: 1 0 calc(33.33% - 3.32vw);
                    display: flex;
                    background-color: #1a2733;
                    ;
                    list-style-type: none;
                    margin: 0.66vw;
                    padding: 0.66vw;
                    border-radius: 0.33vw;
                    border-style: outset;
                    border-color: #000000;

                    span {
                        display: flex;
                        align-items: center;
                        margin: 0 auto;
                        font-size: 1.32vw;
                    }

                    img {
                        display: flex;
                        height: 4.61vw;
                        width: 3.29vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    .button {
        font-size: 1.92vw;
    }

    .container {
        margin-top: 2.32vw;

        .grid {
            .flex {
                .data {
                    .genres {
                        font-size: 1.12vw !important;
                    }

                    h1 {
                        font-size: 1.97vw;
                    }

                    p {
                        font-size: 1.12vw !important;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 800px) {

    .button {
        top: 3.29vw;
        left: 0.7vw;
        font-size: 1.32vw;
    }

    .container {
        color: $color;
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        margin-top: 3.32vw;

        .grid {
            .flex {


                img {
                    width: 27.17vw;
                    height: 39.52vw;
                }

                .data {
                    height: 37.02vw;

                    .genres {
                        font-size: 1.52vw !important;
                    }

                    h1 {
                        font-size: 1.97vw;
                        margin-bottom: 1.05vw;
                    }

                    p {
                        font-size: 1.52vw !important;
                        line-height: 1.6vw;
                    }
                }
            }


            .acters ul li span {
                font-size: 1.52vw;

            }
        }
    }
}


@media screen and (max-width: 600px) {

    .button {
        font-size: 1.92vw;
    }

    .container {
        margin-top: 2.32vw;

        .grid {
            .flex {
                .data {
                    .genres {
                        font-size: 1.12vw !important;
                    }

                    h1 {
                        font-size: 1.97vw;
                    }

                    p {
                        font-size: 1.12vw !important;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 600px) {

    .material-icons {
        font-size: 14px !important;
    }

    .mat-icon {
        width: 14px !important;
        height: 14px !important;
    }

    .button {
        top: 3.29vw;
        left: 0.1vw;
        font-size: 1.32vw;
    }

    .container {
        color: $color;
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        margin-top: 7.32vw;

        .grid {
            .flex {


                img {
                    width: 27.17vw;
                    height: 39.52vw;
                }

                .data {
                    height: 37.02vw;

                    .genres {
                        font-size: 1.52vw !important;
                    }

                    h1 {
                        font-size: 1.97vw;
                        margin-bottom: -0.95vw
                    }

                    p {
                        font-size: 1.52vw !important;
                        line-height: 1.6vw;
                    }
                }
            }


            .acters ul li span {
                font-size: 1.52vw;

            }
        }
    }
}

@media screen and (max-width: 400px) {

    .button {
        background: none;
        border: none;
        color: #d8d8d8;
        display: flex;
        align-items: center;
        position: absolute;
        top: 6.289999999999999vw;
        left: 1.97vw;
        font-size: 5.92vw;
        cursor: pointer;

    }

    .container {
        color: $color;
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        margin-top: 1.32vw;

        .grid {
            display: grid;


            .flex {
                display: flex;
                padding: 2.99vw;
                border-radius: 0.99vw;
                flex-direction: column;
                margin-top: 23vw;


                img {
                    width: 74.47vw;
                    height: 104.52vw;
                }

                .data {


                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 71.92vw;
                    margin: 0;
                    height: auto;

                    .genres {
                        margin-bottom: 0.79vw;
                        font-size: 2.92vw !important;
                        line-height: 1.3;
                        padding: 0 3vw;


                    }

                    h1 {
                        font-size: 5.97vw;
                        font-weight: 600;
                        margin-bottom: 5.05vw;
                        padding: 0 3vw;

                    }

                    p {
                        font-size: 2.92vw !important;
                        line-height: 4vw;
                        padding: 0 3vw;

                        &:last-child {
                            padding-top: 2vw;
                        }
                    }

                }
            }

            hr {
                border-top: 3px solid #000000;
                margin: 9vw auto;
            }

            .acters {
                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    padding-left: 0;
                    background-color: #23033d;
                    margin: 0;

                    li {
                        flex: 1 0 calc(33.33% - 3.32vw);
                        display: flex;
                        background-color: #1a2733;
                        list-style-type: none;
                        margin: 1.6600000000000001vw;
                        padding: 1.66vw;
                        border-radius: 0.33vw;
                        border-style: outset;
                        border-color: #000000;

                        span {


                            display: flex;
                            align-items: center;
                            margin: 0 auto;
                            font-size: 4.32vw;
                        }

                        img {
                            display: flex;
                            height: 13.61vw;
                            width: 9.29vw;
                        }
                    }
                }
            }
        }
    }

    .material-icons[_ngcontent-ng-c4172589287] {
        font-size: 34px !important;
    }

    .mat-icon[_ngcontent-ng-c4172589287] {
        width: 34px !important;
        height: 34px !important;
    }



}