$color: #d8d8d8;

.example-form-field {
  width: 30%;
}



.mat-mdc-form-field-bottom-align::before {
  display: block !important;
  height: 2.37vw !important;
}

.mat-mdc-raised-button:not(:disabled) {
  height: 56px;
  margin-left: 0.66vw;
}

.container[_ngcontent-ng-c1983725124] .card[_ngcontent-ng-c1983725124] {
  width: 15.14vw;
  height: 29.62vw;
  justify-self: center;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 0.66vw;
}

.error {
  color: $color;
  font-size: 1.97vw;
  font-weight: 600;
  text-align: center;

}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(0.66vw, 37.23vw);

  .card {
    justify-self: center;
    padding: 0.99vw;
    background-color: rgb(34 33 40);
    border-radius: 10px;
    border-style: ridge;
    border-color: #000000;
    position: relative;
    width: 15.14vw !important;
    height: 32.60vw;

    a {
      height: 29.62vw;
      text-decoration: none;
      color: $color;
    }

    .image_true {
      width: 15.14vw;
      height: 21.14vw;
    }

    .image_false {
      width: 15.14vw;
      height: 21.14vw;
    }


    .text {
      h4 {

        font-size: 1.3vw;
        margin-top: 1.05vw;
      }

      .absolute {
        position: absolute;
        position: absolute;
        bottom: 4.08vw;
        display: flex;
        flex-direction: column;
        font-size: 1vw;
      }
    }

    .btn {
      color: $color;
      background-color: #565656;
      justify-content: center;
      position: absolute;
      bottom: 0.66vw;
      width: 15.14vw;
      height: 3.16vw;
      font-size: 0.92vw;
    }
  }
}


.example-form {
  min-width: 9.38vw;
  max-width: 31.25vw;
  width: 100%;
}

.example-full-width {
  width: 30%;
}

@media screen and (max-width: 800px) {
  .example-full-width {
    width: 70% !important;
  }
}

@media screen and (max-width: 600px) {

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(66.66vw, 35.23vw);



    .card {
      padding: 1.99vw;
      width: 25.14vw !important;
      height: 58.6vw;

      a {
        height: 29.62vw;
      }

      .image_true {
        width: 25.14vw;
        height: 38.14vw;

      }

      .image_false {
        width: 25.14vw;
        height: 38.14vw;

      }


      .text {
        h4 {
          font-size: 2.6vw;
          margin-top: 2.05vw;
        }

        .absolute {
          bottom: 6.08vw;
          font-size: 2vw;
          line-height: 2.5vw;
        }
      }

      .btn {
        bottom: 1.66vw;
        width: 25.14vw;
        height: 3.16vw;
        font-size: 1.92vw;
      }
    }
  }

}


@media screen and (max-width: 400px) {

  .container {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(194.66vw, 36.23vw);

    .card {
      padding: 4.99vw;
      width: 75.14vw !important;
      height: 166.6vw;


      .image_true {
        width: 74.14vw;
        height: 108.14vw;

      }

      .image_false {
        width: 74.14vw;
        height: 108.14vw;

      }


      .text {

        h4 {
          font-size: 5.9vw;
          margin-top: 4.05vw;
          line-height: 7vw;
          font-weight: 500;
        }

        .absolute {
          bottom: 20.08vw;
          font-size: 4vw;
          line-height: 6.5vw;
        }

      }

      .btn {
        bottom: 5.66vw;
        width: 74.14vw;
        height: 12.16vw;
        font-size: 4.92vw;
      }
    }
  }

  .error {
    font-size: 3.97vw;
  }
}